<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/style.css"><title>WebSocket</title>
</head>
<body>
    <header>
       <navbar id="menu"> 
        <div id="logo">
            <a href="http://localhost:8080"><img src="./assets/logoipsum-284.svg" alt="Logo PLaceHolder"></a>
        </div>
        <div id="menuOptions">
            <ul>
                <li class="menuLi"><a href="http://localhost:8080/productsFS"> Productos fs</a></li>
                <li class="menuLi"><a href="http://localhost:8080/realtimeproducts"> RealTimeProducts</a></li>
                <li class="menuLi"><a href="http://localhost:8080/chat"> Chat</a></li>
                <li class="menuLi"><a href="http://localhost:8080/products/:pid"> Detalle Producto</a></li>
                <li class="menuLi"><a href="http://localhost:8080/carts/:cid"> Detalle Carrito</a></li>
                <li class="menuLi"><a href="http://localhost:8080/api/carts"> Carritos</a></li>
                <li class="menuLi"><a href="http://localhost:8080/signup"> Registrate</a></li>
            </ul>
        </div>
        <div id="cart">
            <img src=".\assets\basket-fill.svg" alt="carrito placeholder">
            <span id="cartItemsCount"></span>
        </div>
        <div id="profile">
            <img src=".\assets\person-fill.svg" alt="profile placeholder">
        </div>
       </navbar>
    </header>
    <h1>WebSocket -  Soket.io </h1>
    {{{body}}}
</body>
</html>